* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 900;
}

html {
    height:100%;
}

body {
    background-image: url('https://quicksnooker.com/images/sturgeonBack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-top {
    position: absolute;
    background-color: red;
    width: 40%; /* percentage needed */

    left: 0px;
    bottom: 80px;
    padding-left: 70px;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    min-width: 400px;
}

.footer-middle {    
    position: absolute; 
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%; /* percentage needed */

    left: 0px;
    bottom: 40px;
    padding-left: 70px;
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.footer-bottom {
    position: absolute;
    background-color: red;
    width: 100%; /* percentage needed */
    
    left: 0px;
    bottom: 20px;
    padding-left: 70px;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.footer-bottom-right {
    position: absolute;
    background-color: maroon;
    width: 60%; /* percentage needed */
    left: 40%;
    bottom: 20px;
}

.bbc-logo-letter {
    background-color: white;
    color: red;;
    border: 1px solid white;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
}